@model List<ObjectLayer.Student>
@{
    ViewData["Title"] = "Students";
}

<div class="text-center">
    
    <h1 class="display-4 text-danger">Students</h1>
    <div class="row container">
        <div class="col-11"></div>
        <a asp-controller="Student" asp-action="CreateNewStudent" class="btn btn-warning col-1">New</a>
    </div>
    <br />
    <table class="table table-bordered table-warning text-secondary">
        <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Telephon</th>
                <th>BirthDate</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var student in Model)
            {
             <tr>
                 <td>@student.Id</td>
                 <td>@student.FirstName</td>
                 <td>@student.LastName</td>
                 <td>@student.Email</td>
                 <td>@student.Telephon</td>
                 <td>@student.BirthDay</td>
                 <td><a class="btn btn-warning" asp-controller="Student" asp-action="EditStudent" asp-route-id="@student.Id">Edit</a></td>
                 <td><a class="btn btn-warning" asp-controller="Student" asp-action="DeleteStudent" asp-route-id="@student.Id">Delete</a></td>
             </tr>              
            }
        </tbody>
    </table>
</div>
